body {
    font-family: 'poppins', Arial, sans-serif, Impact,'Arial Narrow Bold';
    font-size: 1vw;
    margin: 0px;
    padding: 0px;
    background-color: azure;
}
#title {
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px;
    padding: 5px;
    font-family: Helvetica, sans-serif, Arial, Impact,'Arial Narrow Bold';
    width: 25%;
}

ul {
    margin: 0px;
}

body > header {
    background-color: #EC7357 ;
    color: antiquewhite;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body > footer {
    background-color: #754f44;
}

.navbutton {
    color: whitesmoke;
    border: 1.5px solid white;
    border-radius: 20%;
    padding: 8px;
    text-decoration: none;
}

form {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

footer > section > nav > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
footer > section > nav > ul > div > li > a {
    color: #fdd692;
    text-decoration: none;
}

footer > section > nav > footer {
    text-align: right;
}

#menu {
    display: flex;
    justify-content: space-around;
}

#menu > div {
    width: 60%;
}

.INGREDIENTS-container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
}
.INGREDIENTS-image {
    max-width: 300px;
    border-radius: 10px;
}

.INGREDIENTS-container > ul {
    margin-left: 10px;
    font-size: 20px;
}

h2 {
    align-items: center;
}